body {
  margin: 0;
}
.header {
  width: 100%;
  height: 1350px;
  overflow: hidden;
  position: relative;
}

.first-layer {
  margin-top: -150px;
  width: 120%;
  height: 650px;
  background: #373737;
  border-bottom-left-radius: 100% 200%;
  border-bottom-right-radius: 100% 200%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.second-layer {
  width: 125%;
  height: 850px;
  background: #6f6e6e;
  border-bottom-left-radius: 100% 200%;
  border-bottom-right-radius: 100% 200%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  z-index: 2;
}

.third-layer {
  width: 130%;
  height: 1050px;
  background: #787878;
  opacity: 0.45;
  border-bottom-left-radius: 100% 200%;
  border-bottom-right-radius: 100% 200%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 300px;
  z-index: 1;
}

.header-content {
  position: relative;
  z-index: 4;
  text-align: center;
  margin-top: 180px;
}

.header-content h1 {
  margin-top: 250px;
  margin-bottom: 30px;
  color: #dedede;
  letter-spacing: -2.5px;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1440px) {
  .header-content h1 {
    font-size: 40px;
  }
}

@media (max-width: 1024px) {
  .header {
    height: 1250px;
  }

  .first-layer {
    height: 550px;
    margin-top: -130px;
    width: 125%;
  }

  .second-layer {
    height: 700px;
    top: 80px;
    width: 130%;
  }

  .third-layer {
    height: 900px;
    top: 240px;
    width: 135%;
  }

  .header-content h1 {
    font-size: 40px;
    margin-top: 160px;
  }

  .header.fr .header-content h1 {
    font-size: 35px;
    margin-top: 160px;
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .header-content h1 {
    font-size: 34px;
    margin-top: 160px;
    margin-bottom: 20px;
  }

  .header.fr .header-content h1 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 1000px;
  }

  .first-layer {
    height: 500px;
    margin-top: -110px;
    width: 135%;
  }

  .second-layer {
    height: 620px;
    top: 70px;
    width: 140%;
  }

  .third-layer {
    height: 780px;
    top: 200px;
    width: 150%;
  }

  .header-content h1 {
    font-size: 34px;
    margin-top: 160px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .header {
    height: 800px;
  }

  .header.fr {
    height: 800px;
  }

  .first-layer {
    height: 380px;
    margin-top: -80px;
    width: 150%;
  }

  .second-layer {
    height: 500px;
    top: 60px;
    width: 165%;
  }

  .third-layer {
    height: 590px;
    top: 170px;
    width: 180%;
  }

  .header-content h1 {
    font-size: 26px;
    letter-spacing: -1px;
    margin-top: -25px;
    margin-bottom: 10px;
  }

  .header.fr .header-content h1 {
    font-size: 26px;
    letter-spacing: -1px;
    margin-top: -25px;
    margin-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .header {
    height: 800px;
  }

  .header.fr {
    height: 800px;
  }

  .first-layer {
    height: 380px;
    margin-top: -80px;
    width: 150%;
  }

  .second-layer {
    height: 500px;
    top: 60px;
    width: 165%;
  }

  .header.fr .second-layer {
    height: 500px;
    top: 60px;
    width: 165%;
  }

  .third-layer {
    height: 590px;
    top: 170px;
    width: 180%;
  }

  .header-content h1 {
    font-size: 26px;
    letter-spacing: -1px;
    margin-top: -25px;
    margin-bottom: 10px;
  }

  .header.fr .header-content h1 {
    font-size: 23px;
    letter-spacing: -1px;
    margin-top: -25px;
    margin-bottom: 10px;
  }
}

@media (max-width: 375px) {
  .header {
    height: 800px;
  }

  .header.fr {
    height: 800px;
  }

  .first-layer {
    height: 380px;
    margin-top: -80px;
    width: 150%;
  }

  .header.fr .second-layer {
    height: 500px;
    top: 60px;
    width: 165%;
  }

  .header.fr .header-content h1 {
    font-size: 23px;
    letter-spacing: -1.7px;
  }
}

@media (max-width: 320px) {
  .header {
    height: 800px;
  }

  .first-layer {
    height: 380px;
    margin-top: -80px;
    width: 150%;
  }

  .second-layer {
    height: 500px;
    top: 60px;
    width: 165%;
  }

  .third-layer {
    height: 590px;
    top: 170px;
    width: 180%;
  }

  .header-content h1 {
    font-size: 26px;
    letter-spacing: -1px;
    margin-top: -25px;
    margin-bottom: 10px;
  }
}
