.location {
  margin-top: 0;
  min-height: 33.875em;
  background: linear-gradient(
      90deg,
      #eeeff1 0%,
      #eeeff1 50%,
      rgba(238, 239, 241, 0.85) 60%,
      rgba(238, 239, 241, 0.3) 80%,
      rgba(238, 239, 241, 0) 100%
    ),
    url("../assets/design/Cover.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}

.location {
  margin-top: 0;
  min-height: 33.875em;
  background-image: url("../assets/design/Cover.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-size: cover;
  background-color: #f5f7fc;
}

.location-inner {
  padding: 90px 0 90px 125px;
}

.location-text h2 {
  margin: 0 0 18px 25px;
  font-size: 48px;
  font-weight: 900;
  color: #02033b;
}

.location-text p {
  margin: 0 0 18px 25px;
  font-size: 26px;
  color: #9a9a9a;
  font-weight: 500;
}

html[dir="rtl"] .location {
  direction: ltr;
}

.location.ar .location-text {
  direction: rtl;
  text-align: right;
}

.location.ar .location-text h2,
.location.ar .location-text p {
  margin: 0 125px 18px 0;
}

/* =========================
   Responsive Location
   ========================= */

@media (max-width: 1024px) {
  .location-inner {
    padding: 70px 0 70px 90px;
  }

  .location-text h2 {
    margin-left: 00px;
    font-size: 40px;
  }

  .location-text p {
    margin-left: 00px;
    font-size: 22px;
  }

  .location.ar .location-text h2,
  .location.ar .location-text p {
    margin: 0 90px 18px 0;
  }
}

@media (max-width: 768px) {
  .location {
    min-height: auto;
    padding: 60px 0;
    background-position: center;
  }

  .location-inner {
    padding: 0 24px;
  }

  .location-text h2 {
    margin: 0 0 14px 25px;
    font-size: 34px;
  }

  .location-text p {
    margin: 0 0 12px 25px;
    font-size: 20px;
  }

  .location.ar .location-text h2,
  .location.ar .location-text p {
    margin: 0 25px 12px 0;
  }
}

@media (max-width: 480px) {
  .location {
    padding: 45px 0;
  }

  .location-inner {
    padding: 0 16px;
  }

  .location-text h2 {
    font-size: 28px;
  }

  .location-text p {
    font-size: 18px;
  }
}
