.location {
  position: relative;
  width: 100%;
  padding: 120px 0 140px;
  text-align: center;
  overflow: hidden;
}

.location.fr {
  margin-top: -80px;
}

.location h2 {
  font-size: 40px;
  font-weight: 700;
  color: #e6e6e6;
  margin-top: -15px;
  margin-bottom: 10px;
  position: relative;
  z-index: 10;
  letter-spacing: 1px;
}

.location p {
  color: #969696;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
}

.location-btn {
  border: none;
  background: #fff;
  border-radius: 50px;
  padding: 10px 26px;
  font-size: 24px;
  color: #191919;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  z-index: 10;
  transition: transform 0.3s ease, box-shadow 0.25s ease;
  text-decoration: none !important;
}

.location-btn:hover {
  transform: translateY(-10px);
  box-shadow: 0 1.7rem 2.3rem rgba(109, 109, 109, 0.55);
}

.location.en .location-btn {
  width: 310px;
  height: 66px;
}

.location.fr .location-btn {
  width: 400px;
  height: 66px;
}

.location-btn:hover {
  transform: translateY(-8px);
}

@media (max-width: 1024px) {
  .location {
    padding: 100px 0 120px;
  }

  .location.fr {
    margin-top: -40px;
  }

  .location h2 {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .location p {
    font-size: 26px;
  }

  .location-btn {
    font-size: 18px;
    padding: 6px 14px;
  }

  .location.en .location-btn {
    width: 280px;
    height: 60px;
  }

  .location.fr .location-btn {
    width: 300px;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .location {
    padding: 80px 0 100px;
    margin-top: -40px;
  }

  .location.fr {
    padding: 80px 0 100px;
    margin-top: -95px;
  }

  .location h2 {
    font-size: 30px;
  }

  .location p {
    font-size: 21px;
  }

  .location-btn {
    font-size: 20px;
    padding: 5px 20px;
  }

  .location.en .location-btn {
    width: 240px;
    height: 55px;
  }

  .location.fr .location-btn {
    width: 310px;
    height: 55px;
  }
}

@media (width: 540px) {
  .location.fr {
    margin-top: -125px;
  }
}

@media (max-width: 480px) {
  .location {
    padding: 60px 0 90px;
    margin-top: -65px;
  }

  .location.fr {
    margin-top: -150px;
  }

  .location h2 {
    font-size: 20px;
  }

  .location p {
    font-size: 17px;
  }

  .location-btn {
    font-size: 13px;
  }

  .location.en .location-btn {
    width: 200px;
    height: 50px;
  }

  .location.fr .location-btn {
    width: 220px;
    height: 50px;
  }
}

@media (max-width: 375px) {
  .location {
    padding: 60px 0 90px;
    margin-top: -65px;
  }

  .location.fr {
    margin-top: -175px;
  }
}

@media (max-width: 320px) {
  .location.fr {
    margin-top: -165px;
  }
}

@media (width: 414px) {
  .location.fr {
    margin-top: -170px;
  }
}
@media (width: 390px) {
  .location.fr {
    margin-top: -170px;
  }
}
@media (width: 820px) {
  .location.fr {
    margin-top: -65px;
  }
}

@media (width: 360px) {
  .location.en {
    margin-top: -90px;
  }
}

@media (width: 412px) {
  .location.fr {
    margin-top: -170px;
  }
}

@media (width: 344px) {
  .location.en {
    margin-top: -95px;
  }
}

@media (width: 912px) {
  .location.en {
    margin-top: 25px;
  }
}

@media (width: 853px) {
  .location.en {
    margin-top: 25px;
  }
}
