html {
  scroll-behavior: smooth;
}

:root {
  /* background-color: #292929; */
  /* background-color: #f3f8ff; */
  background-color: #ffffff;
}

.section-anchor {
  position: relative;
  height: 1px;
  width: 100%;
  scroll-margin-top: 90px;
}
