/* Global reset + font variables */
:root {
  --font-latin: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;

  --font-ar: "Cairo", system-ui, -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-latin);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Arabic only */
html[dir="rtl"] body {
  font-family: var(--font-ar);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
